
.form-control {
    box-shadow: none;		
    font-weight: normal;
    font-size: 13px;
}
.form-control:focus {
    border-color: #33cabb;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.navbar-header.col {
    padding: 0 !important;
}	
.navbar {
    background: #B42D33;
    padding: 20px 30px;
    border-radius: 0;
    position: relative;
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
    
}
.navbar .navbar-brand b {
    font-weight: bold;
    color: #33cabb;		
}
.navbar .form-inline {
    display: inline-block;
}
.navbar .nav li {
    position: relative;
}

.search-box {
    position: relative;
}	
.search-box input {
    padding-right: 35px;
    border-color: #dfe3e8;
    border-radius: 4px !important;
    box-shadow: none
}
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}	
.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
    color: #fff;
    outline: none;
}
.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
}	
.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.dropdown-menu
{
    padding:0px;
}

.navbar .nav li {
    position: relative;
    z-index: 1;
}
.navbar .nav .dropdown-menu li {
    color: #fff;
    font-weight: normal;
}
.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
    padding: 8px 20px;
    line-height: normal;
}
.navbar .navbar-form {
    border: none;
}
.navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}
.navbar .dropdown-menu.form-wrapper a {		
    color: #fff;
    padding: 0 !important;
}
.navbar .dropdown-menu.form-wrapper a:hover{
    text-decoration: underline;
}
.navbar .form-wrapper .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}
.navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}	
.navbar .social-btn .btn-primary {
    background: #507cc0;
}
.navbar .social-btn .btn-primary:hover {
    background: #4676bd;
}
.navbar .social-btn .btn-info {
    background: #64ccf1;
}
.navbar .social-btn .btn-info:hover {
    background: #4ec7ef;
}
.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}
.navbar .form-wrapper .form-footer a:hover{
    text-decoration: underline;
}
.navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
}
.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}
.navbar .checkbox-inline {
    font-size: 13px;
}

.container-fluid {
    /* margin-top: -76px; */
    margin-left: auto;
    position: relative;
  }
  


.navbar-light .navbar-nav .nav-link nav
{
color: #fff;
font-size: 90%;
font-family: inherit;
}
.nav navbar-nav navbar-right ml-auto
{
    font-weight: bold;
}
.navbar .navbar-right .dropdown-toggle::after {
    display: none;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

.navbar-expand-lg .navbar-collapse {
    margin-bottom: -30px;
}
@media (max-width: 992px){
.justify-content-start
{
    margin-top:15px !important;
}
.navbar-expand-lg .navbar-collapse {
    margin-bottom: 0px !important;
}
.container-fluid {
    margin-left: auto;
    position: relative;
  }
  

}


@media (max-width: 768px){
    .navbar .dropdown-menu.form-wrapper {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
    }
    .container-fluid {
        margin-left: auto;
        position: relative;
      }
    
}

#header {
    
    /* background: #3b5998; */
    background:#B42D33;

    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 888;
    border-bottom: 3px solid #fff;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
	}
.site-logo {
    display: inline-block;
    width: 180px;
    height: auto;
    opacity: 1;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    }
	
.img-header
	{
	width: 180px;
    height: auto;
	}

span{
    font-size:15px;
    }

    .loading{
        margin-top:15%;
        margin-left: 46%;

    }
    .tableloading{
        margin-left: 46%;

    }
    .navbar .navbar-right li:first-child a {
        padding-right: 10px !important;
    }

    .dropdown-item
    {
        font-family: inherit;
        font-size: 14px;
        padding: .25rem 0.5rem;
    }
    .dropdown-item:hover
    {
        color:white;
    }
    a:not([href]):hover {
        font-family: inherit;
        text-decoration: none;
        color: white;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        /* color: #16181b; */
        background: #005295;
        color:white;
        text-decoration: none;
        /* background-color: #f8f9fa; */
    }
    
    .superman
    {
        background-color: white;
    }

    