body {
  margin: 0;
  font-family: Tahoma, Arial, Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.asterik
{
color:red;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#login {
margin-top: 1%;
margin-bottom: 1%;

}

.login-box
{
  width: 420px;
  padding: 0px 16px;;
}

/* input[type=text] {

  border: none;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;

} */
/* input[type=password] {

  border: none;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  
} */
.card {
  border-radius: 20px !important;
}
#enterbtn{
  border-radius: 20px !important;
}
#savebtn{
  border-radius: 20px !important;
}

#submitButton
{
  margin-top: 26px;
  float: left;
}
.btnwidth
{
  width: 100%;
}
.Nav.Link:active{

  color:'white' !important;
}
textarea {
  margin-top: 10px;
  margin-left: 50px;
  width:130%;
  
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}
.datepicker > div { display: inherit; }

textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 3px solid black;
  border-radius: 100%; */
  padding:3%
}

#imgcoupon {
    height: 10vw;
    padding: '9%';
    border-radius: 0px 25px 25px 0px;
    margin-left: 10%;
  }

a.nav-link{
  color:white !important;
}

.footer-inner {
  padding: 15px 0;
  background: #fff;
  /* box-shadow: 0 0 5px #999999; */
  border-top: 1px solid #ddd;
}
/* a{
  color:#b42d33 !important;
} */


.footer
{
  background: #212529;
  padding: 5px 30px;
  color:white;

}
.footer-link
{
  color:white;
}
/* signin */
.signin{
  background-color: #005295;
  /* font-size: 2px; */
  /* font-family: 'Sulphur Point'; */
}
.signinhead{
  text-align: left;
  margin-top: '20px';
  /* font-family: 'inherit'; */
  color: #43494d;
}
.form-check{    margin-left: 7% !important;
  margin-bottom:3% ;
    }

.reset{
  text-align: left;
  color: #005295;
  
}

.btn-primary:disabled {
  background-color: #005295;
  
}

/* login */
.create{
  text-align:left;
  color: #005295;
  font-size: 15px;
  /* font-weight: bold; */
}

.login{
  margin-left: 50%;
}

.forgot{
  color: #005295;
  text-decoration: underline;
}

.modal-dialog,
.modal-content {
  /* 80% of window height */
  height: 80%;
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  /* max-height: calc(100% - 120px); */
  overflow-y: scroll;
}
.error
{
color:red;
}

.inlineinput div {
display: inline;
}
.box
{
display: inline; 
padding: 0 12px !important;
width: 50px;
}
.my-facebook-button-class{

height:50px;  
border-radius: 4px;
background: #3b5998;
color:white;
border:0px transparent;  
text-align: center;
margin:10px 50px;
display: inline-block;
margin-top: 9%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; 

}
.my-facebooklogin-button-class-signup{
height:42px;  
border-radius: 4px;
background: #3b5998;
color:white;
border:0px transparent;  
text-align: center;
margin:10px 50px;

box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; 

}
/* .btnGoogle { 
margin-top: 2%;
margin-right: 50%;
border-radius: 4px;
color:white;
border:0px transparent;
text-align: center;
} */
.btnGoogle { 
width: 185px !important;
height:50px !important;  
border-radius: 4px !important ;
background: #db3236 !important;
color:white !important;
border:0px transparent !important;  
text-align: center !important;
margin:5px !important;
display: inline-block !important;
margin-top: 3% !important;

box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px !important;  

}
.my-facebook-button-class:hover {
background: #3b5998!important ;
opacity: 0.6;
}
.btnGoogle:hover {
background: #db3236;
opacity: 0.6;
}
/* h2 { width:100%; color:#c4c2bb; text-align:center; border-bottom: 1px solid #c4c2bb; line-height:0.1em; margin:10px 0 20px; } 
h2 span { background:#fff; padding:0 10px; } */

.signin-text
{
text-align:center;
font-size: 17px;
font-family: inherit;
}

.signin-title
{
text-align:center;
font-weight: bold;
font-size: 22px;
font-family: inherit;
}

.fa
{
font-size: 22px !important;
}
.svg
{
margin-left: 9px;
}

.border-right {
border-right: 1px solid black;
}
.my-facebooklogin-button-class{
border-radius: 4px;
background: #3b5998;
color:white;
border:0px transparent;  
text-align: center;
margin:10px;
padding:13px 25px;
font-weight: bold;
box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; 

}

.btnGoogleLogin{
width: 40px !important;
height:42px !important;  
border-radius: 4px !important ;
background: #db3236 !important;
color:white !important;
border:0px transparent !important;  
text-align: center !important;
margin:5px !important;
margin-top: 6% !important;
margin-right: 10%;
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px !important;  
}

.google-login
{
font-weight: bold !important;
color:black !important;
text-align: center !important;
padding:10px;
font-weight: 700 !important;
width: 300px !important;
padding: 0px !important;
margin-top:20px;
margin-bottom:5px;

}
.google-login span
{
padding:0px 30px 0px 20px !important;
font-weight:500 !important;
}

.sweet-warning{
background-color: #005295;
}

.swalclass{
font-family: Tahoma, Arial, Helvetica;
color: '#43494d'
  
}

.alert {
margin-bottom:0px;
}
.swal-title{
font-size: 1.5rem !important;
}

.swal-footer {
text-align: center !important;
}


.swal-text{
font-size: 20px !important;
text-align: center !important; 
}

thead
{
color:black;
font-weight: bold;
font-family: inherit;
font-size: 14px;
}
tbody
{
color:black;
font-family: inherit;
font-size: 14px;
}
label
{
font-family: inherit;
font-size: 17px;
color:#43494d;
}

.form-check-label
{
color: "#005295";
margin-left: 4px;;
}
.error-box
{
width: 22%;
}
.react-calendar
{
width: 10px;
}
.img-points
{
width: 400px;
height: auto;
}

.points-content
{
font-size: 23px;
font-family: 'Tahoma, Arial, Helvetica';
font-weight: 700;
}
.points-title
{
  text-align: left;
  margin-top: 20px;
  color: rgb(67, 73, 77);
  font-weight: bold;
}
.hr-points
{
margin-top: 0.50rem;
}
.site-logo-points {
display: inline-block;
width: 180px;
height: auto;
opacity: 1;
-webkit-transition: all ease .3s;
-moz-transition: all ease .3s;
-o-transition: all ease .3s;
transition: all ease .3s;
margin-left: 20px;
}
.pointsInner-text {
  margin-left: 17%;
}

@media (max-width: 400px){
.points-content
{
font-size: 18px;
font-family: 'Tahoma, Arial, Helvetica';
font-weight: 700;
}
}
@media (max-width: 991px)
{
.small-device
{
text-align: center;
}
.site-logo-points 
{
margin-right: 55px !important;
}
.pointsInner-text {
margin-left: 0%;
}
.points-button
{
  margin-left: 0% !important;
}

}
#StartDate
{
background-color: #fff;
}
#EndDate
{
background-color: #fff;
}
/* 
label
{
font-family:'inherit';
color: '#43494d';
} */






.loginBtn {
box-sizing: border-box;
position: relative;
/* width: 13em;  - apply for fixed size */
margin: 0.2em;
padding: 2px 77px 2px 77px;
border: none;
text-align: left;
line-height: 34px;
white-space: nowrap;
border-radius: 0.2em;
font-size: 16px;
color: #FFF;
}
.loginBtn:before {
content: "";
box-sizing: border-box;
position: absolute;
top: 0;
left: 0;
width: 34px;
height: 100%;
}
.loginBtn:focus {
outline: none;
}
.loginBtn:active {
box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
background-color: #4C69BA;
background-image: linear-gradient(#4C69BA, #3B55A0);
/*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
border-right: #364e92 1px solid;
background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
background-color: #5B7BD5;
background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
/*font-family: "Roboto", Roboto, arial, sans-serif;*/
background: #DD4B39;
}
.loginBtn--google:before {
border-right: #BB3F30 1px solid;
background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
background: #E74B37;
}

.lab
{
  font-weight: bold;
}


@media only screen and (max-width: 501px) {
.terms{
  margin-bottom: 22% !important;
}
}

.termsHeading{
  font-size: 18px;
  color: rgb(67, 73, 77);
  margin-bottom: 2px;
}